#text-video {
    @include flexCenter;
    margin: 5rem 5rem;
    #text {
        margin-right: 4rem;
        width: 35%;
        h2 {
            color: $metalBlue;
            font-weight: 400;
        }
        p {
            opacity: 0.8;
            margin-top: 1rem;
        }
    }
    video {
        width: 400px;
        height: auto;
    }
}