@import "./variable";
@import './header';
@import './threeblock';
@import './textvideo';
@import './threecards';
@import './signup';
@import './courseprice';
@import './getintouch';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather', serif;
    border: 1px solid white;
    overflow-x: hidden;
}