#three-block {
    @include flexCenter;
    background: $metalBlue;
    color: white;
    .three {
        width: 15%;
        margin: 7rem 5rem;
        text-align: center;
        h2 {
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 2px;
        }
        p {
            font-weight: 400;
            opacity: 0.8;
            margin-top: 2rem;
        }
        i {
            margin-bottom: 3rem;
        }
    }

}